<html>
	<head>
		<title>Angry</title>
	</head>
	<body>
		<center><h1>Angry</h1></center>
		<center><div>
			<form action="/moods/angry" method="GET">
				<input type="hidden" name="action" value="watch" />
		    	<input type="submit" value="Watch a video" />
		    </form>
		    <form action="/moods/angry" method="GET">
				<input type="hidden" name="action" value="photos" />
		    	<input type="submit" value="Look at photos" />
		    </form>
		    <form action="/moods/angry" method="GET">
				<input type="hidden" name="action" value="quotes" />
		    	<input type="submit" value="Read quotes" />
	    	</form>
		</div></center>
	</body>
</html>
<br><br><br><br><br><br><br><br><br><br>
</br></br></br></br></br></br></br></br></br></br>
<center><form><input type="button" value="<-Go back" onClick="history.go(-1);return true;"></form></center>

