<head>
	<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
	<br></br>
	<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>

	<title>Angry Quotes</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
	<center><h1 class="heading">Quotes</h1></center>


	<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
	<center>

		<p><q>The first human who hurled an insult instead of a stone was the founder of civilization.</q>
		<br>-Sigmund Freud</p></br>

		<p><q>Learn this from me. Holding anger is a poison. It eats you from inside. We think that hating is a weapon that attacks the person who harmed us. But hatred is a curved blade. And the harm we do, we do to ourselves.</q>
		<br>-Mitch Albom</p></br>

		<p><q>Let today be the day you stop being haunted by the ghost of yesterday. Holding a grudge & harboring anger/resentment is poison to the soul. Get even with people...but not those who have hurt us, forget them, instead get even with those who have helped us.</q>
		<br>-Steve Maraboli</p></br>

		<p><q>A bad attitude is like a flat tire, you can’t get very far until you change it.</q>
		<br>-Anonymous</p></br>

		<p><q>The truth will set you free, but first it will piss you off.</q>
		<br>-Gloria Steinem</p></br>

		<p><q>Speak when you are angry and you will make the best speech you will ever regret.</q>
		<br>-Ambose Bierce</p></br>

		<p><q>If you try to get rid of fear and anger without knowing their meaning, they will grow stronger and return.</q>
		<br>-Deepak Chopra</p></br>

		<p><q>Get mad, then get over it.</q>
		<br>-Colin Powell</p></br>

		<p><q>If you kick a stone in anger, you'll hurt your own foot.</q>
		<br>-Korean Proverb</p></br>
	</center>
	</body>


 <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>

<br></br>