<html>
<head>
	<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
	<br></br>
	<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">	

	<title>Angry Gifs</title>
	<center><h1 class="heading">Gifs</h1></center>


	<body background= "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
		<center><img width="450" height ="350", src="http://awesomegifs.com/wp-content/uploads/i-shake-my-hairbrush-at-you.gif"></img><br></br>
		<center><img width="450" height ="350", src="https://i.chzbgr.com/maxW500/7726584064/hCE5BDDAE/"></img><br></br>
		<center><img width="450" height ="350", src="https://i.chzbgr.com/maxW500/7724671744/h1AC0AC3B/"></img><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/08/epic-washing-machine-transportation-fail.gif"></img><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/08/pumpkin-ninja-fail.gif"></img><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/08/meanwhile-in-a-japanese-subway-station.gif"></img><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/06/shark-stealing-fish-from-divers-hands.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/06/meanwhile-in-california.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/05/surprise-prank-on-female-reporter-during-interview.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/05/epic-magic-trick-fail.gif"></img></center><br></br>


		
</body>


 <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>
</html>

</div>

<br></br>

