<html>
<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
<br></br>
<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>

<head>
	<title>Bored Photos</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
			<center><h1 class="heading">Photos</h1></center>


		<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">

			<center><script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('ee194dfa-20a2-4950-8d46-a98c8e81f60f');</script></center>
			<br></br>
			
			<center><img width="600" height="500", src="https://sphotos-b.xx.fbcdn.net/hphotos-frc1/995778_645233738830974_2051305932_n.jpg"></img></center><br></br>		
			<center><img width="400" height="500", src= "http://31.media.tumblr.com/07e2647d97199dc99cfc38af3e1a3c2e/tumblr_mlceniocRp1qzpsuoo1_500.jpg"></img></center><br></br>
			<center><img width="400" height="500", src= "http://media-cache-ec0.pinimg.com/736x/f8/51/61/f85161f614128d51f32f2b19fb105745.jpg"></img></center><br></br>
			<center><img src="http://media-cache-ec0.pinimg.com/736x/46/2a/c9/462ac9ad270559089e87bbd75c366043.jpg"></img></center><br></br>
			<center><img width= "400" height="500", src="http://media-cache-ak0.pinimg.com/736x/f1/3b/4c/f13b4c1c9e6c74b7917d40cb04de1246.jpg"></img></center><br></br>
			<center><img width= "400" height="500", src="http://media-cache-ec0.pinimg.com/736x/24/57/c2/2457c24fab09057b2a3f8a1a2e06e4e2.jpg"></img></center><br></br>  
			<center><img width= "400" height="500", src="http://media-cache-ec0.pinimg.com/736x/92/3e/af/923eafc6e1792a061bb94a9b3ed1ffee.jpg"></img></center><br></br>
			<center><img width="400" height="500", src="http://media-cache-ec0.pinimg.com/736x/88/ca/b1/88cab1471b5d822ba000594b02dc36a4.jpg"></img></center><br></br>
			<center><img width="400" height="500", src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/998069_645432962144385_1782967416_n.jpg"></img></center><br></br>
		</body>

		<div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>
<br></br>
</html>

