<head>
	<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
	<br></br>
	<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>
	<title>Bored Videos</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
  <center><h1 class="heading">Videos</h1></center>


  <body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
    <!-- 3...Amazing Facts: -->
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/6Ni5HOdGtzM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

    <!-- black hole -->
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/3Un20p1NGuw?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

     <!--  1...Marshmallow challenge: -->
    <center><iframe width="640" height="360" src="http://www.youtube.com/embed/sT7fbayfNBU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

    <!-- 2...Ellen magic popcorn: -->
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/OTGb0hP8tIU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

   <!--  4... Key and Peele: Cute Puppies -->
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/z6iC0Vi1yEg?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

    <!-- Two Handed Drawing -->
    <center><iframe width="640" height="360" src="http://www.youtube.com/embed/EJj1Qqqebh8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>  
  </body>

  <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div> 
  
<br></br>
