<head>
		<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
		<br></br>
		<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>
	<title>Happy Videos</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
  <center><h1 class="heading">Videos</h1></center>


  <body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
     <!-- Sticky Glue Prank -->
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/Kvj6I2PWrRI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

    <!--  Waterfountain Prank -->
    <center><iframe width="640" height="360" src="https://www.youtube.com/embed/mWwIIEO5stQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
    <br></br>

    <!-- Microphone shampoo fail -->
    <center><iframe width="640" height="360" src="http://www.youtube.com/embed/tCP6a8WkzBo?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center><br></br>

    <!-- sticky golf -->
    <center><iframe width="640" height="360" src="http://www.youtube.com/embed/CGjhwowII28?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center><br></br>

    <!-- Crossbow vs. Dr. Pepper -->
    <center><iframe width="640" height="360" src="http://www.youtube.com/embed/89OduOlMc0M?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center><br></br>
  </body>

 <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>
  
<br></br>