<head>
	<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
	<br></br>
	<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>
	<title>Happy Quotes</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
	<center><h1 class="heading">Quotes</h1></center>

	<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">

	<center>
		<p><q>Smile every chance you get.  Not because life has been easy, perfect, or exactly as you had anticipated, but because you choose to be happy and grateful for all the good things you do have and all the problems you know you don’t have.</q>
		<br>-Anonymous</p></br>

		<p><q>The foolish man seeks happiness in the distance; the wise grows it under his feet.</q>
		<br>-James Openheim</p></br>


		<p><q>Happiness often sneaks in through a door you didn't know you left open.</q>
		<br>-John Barrymore</p></br>

		<p><q><q>Well,</q> said Pooh, <q>what I like best,</q> and then he had to stop and think.  Because although Eating Honey was a very good thing to do, there was a moment just before you began to eat it which was better than when you were, but he didn't know what it was called.</q>
		<br>-A.A. Milne</p></br>

		<p><q>People take different roads seeking fulfillment and happiness.  Just because they're not on your road doesn't mean they've gotten lost.</q>
		<br>-H. Jackson Brown</p></br>


		<p><q>It's pretty hard to tell what does bring happiness.  Poverty and wealth have both failed.</q>
		<br>-Frank McKinney "Kin" Hubbard</p></br>


		<p><q>Happiness and sadness run parallel to each other.  When one takes a rest, the other one tends to take up the slack.</q>
		<br>-Hazelmarie Elliott (<q>Mattie</q>)</p></br>
	</center>
	</body>

	<div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>

<br></br>
