<html>
<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
<br></br>
<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>
<head>
	<title>Happy Photos</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
	<center><h1 class="heading">Photos</h1></center>
			<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
				<center><img src="http://media-cache-ec0.pinimg.com/736x/74/fa/3b/74fa3b1a7232861100fe79d2b4eb260a.jpg"></img></center><br></br>
				<center><img src="http://www.dumpaday.com/wp-content/uploads/2012/08/funny-forrest-gump-quotes.jpg"></img></center><br></br>
				<center><img src="http://www.dumpaday.com/wp-content/uploads/2012/08/PLqz7.jpg"></img></center><br></br>
				<center><img src="http://cdn.themetapicture.com/media/funny-doctors-medical-alphabet.jpg"></img>
				<center><img src="http://media-cache-ak0.pinimg.com/736x/95/84/b0/9584b07bd31ab135fe1470843bf62114.jpg"></img></center><br></br>	
				<center><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/524381_10151835736092323_2047202026_n.jpg"></img></center><br></br>
				<center><img src="http://3.bp.blogspot.com/-SS9YL3r8l4Y/Ue4lQJaVcoI/AAAAAAAAM7U/-EHiLlGKXTw/s1600/funny-animals-35.jpg"></img></center><br></br>
				<center><img src="http://www.dumpaday.com/wp-content/uploads/2013/08/a-funny-bird-in-your-food.jpg"></img></center><br></br>
				<center><img src="http://www.dumpaday.com/wp-content/uploads/2013/07/funny-women-picking-out-colors.jpg"></img></center><br></br>
				<center><img src="http://31.media.tumblr.com/tumblr_lrjfx6fAfv1qecvlwo1_500.png"></img></center><br></br>
				<center><img src="http://media-cache-ak0.pinimg.com/736x/40/6b/97/406b97ca7c2034e83348502b87410a97.jpg"></img></center><br></br>
				<center><img src="http://media-cache-ak0.pinimg.com/736x/76/01/9c/76019c04fb2467ab17c9a5d26578c8bd.jpg"></img></center><br></br>
				<center><img src="http://www.dumpaday.com/wp-content/uploads/2013/05/funny-picture-dumps-1.jpg"></img></center><br></br>
				<center><img src="http://www.dumpaday.com/wp-content/uploads/2013/05/funny-picture-dumps-13.jpg"></img></center><br></br>
				<center><img src="http://media-cache-ak0.pinimg.com/736x/11/bd/f3/11bdf369f350b68eba718ffddb22585a.jpg"></img></center><br></br>
		
			</body>

			<div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>

<br></br>
</html>

