<title>Moods</title>
<center><h1>Moods</h1></center>

<body>	
	<center><h1>Right now I'm feeling:</h1>
	<form action="/moods" method="GET">
		<select name="moods_id" id="moods_id">
			<option value="">Please select</option>
    		<option value="1" selected="selected">Sad</option>
    		<option value="2">Happy</option>
    		<option value="3">Angry</option>
    		<option value="4">Bored</option>
		</select>
	<button type="submit">GO</button></form></center>
</body>