<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/commons/e/ec/Happy_smiley_face.png"/>
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" type="text/css">

  </head>

  <body>
   <%= yield %>
  </body>
</html>