<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Moods</title>
    <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/commons/e/ec/Happy_smiley_face.png"/>
  </head>

  <body>
   <%= yield %>
  </body>
</html>