<html>
	<head>
		<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>

		<title>Sad</title>
	</head>
	<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
		<center><h1 class = "heading">Feeling sad, I want to... </h1></center>
		<center><div>
			<form action="/moods/sad" method="GET">
				<input type="hidden" name="action" value="watch" />
		    	<input class="sadbuttons" type="submit" value="Watch a video" />
		    </form>
		    <br></br>
		    <form action="/moods/sad" method="GET">
				<input type="hidden" name="action" value="photos" />
		    	<input class="sadbuttons" type="submit" value="Look at gifs" />
		    </form>
		    <br></br>
		    <form action="/moods/sad" method="GET">
				<input type="hidden" name="action" value="quotes" />
		    	<input class="sadbuttons" type="submit" value="Read quotes" />
	    	</form>
		</div></center>
	</body>

</html>
<br></br>

