<html>

<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
<br></br>
<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
	<head>
		<title>Sad Gifs</title>
		<center><h1 class="heading">Gifs</h1></center>
	</head>

	<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">

		
		<center><img width="450" height ="350", src="http://24.media.tumblr.com/84439acbbe464d1df10fd99534fbbe5a/tumblr_mp1ubhVBEz1r3gb3zo1_400.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/07/women-of-walmart-fail.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/06/the-cutest-eyebrow-movement-ever.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/07/fat-guy-epic-swing-fail.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://gifs.gifbin.com/122009/1259928856_surprised_kitten.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://gifs.gifbin.com/012012/1337880268_baby_reaction_face.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="https://i.chzbgr.com/maxW500/7721283840/h6043C814/"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/07/hey-friends-check-this-oh-no-shit.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/07/cute-adorable-rabbit-stealing-cookies.gif"></img></center><br></br>			
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/07/epic-bungee-jumping-prank-win.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/06/girl-puddle-crossing-fail.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/05/sleeping-on-the-purrfect-pillow.gif"></img></center><br></br>
		<center><img width="450" height ="350", src="http://www.ohmagif.com/wp-content/uploads/2013/05/fishing-line-throwing-fail.gif"></img></center><br></br>
	</body>

	<div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>

<br></br>
</html>

