<head>
		<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
		<br></br>
		<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>

	<title>Sad Videos</title>
</head>
<div class="container" style= "margin-left: 20%; margin-right: 20%;">
	<center><h1 class="heading">Videos</h1></center>


	<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">

		<!-- Kids Say the Darnest Things -->
		  <center><iframe width="640" height="360" src="http://www.youtube.com/embed/t-Xld2aObHM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		  <br></br>
		<!-- What a lovely day! -->
		<center><iframe width="640" height="360" src="https://www.youtube.com/embed/grOqX5f4Lpk?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		<br></br>
		<!-- How to get ticked at inanimate objects -->
		<center><iframe width="640" height="360" src="https://www.youtube.com/embed/MBs_2tguyds?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		<br></br>
		<!-- How to Come Out The Shower: Rudy Mancuso -->
		  <center><iframe width="640" height="360" src="https://www.youtube.com/embed/qAj-rIeaIvs?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		  <br></br>
		  <!-- 5...Girls vs. Guys Sneeze -->
		  <center><iframe width="640" height="360" src="https://www.youtube.com/embed/F4vChq5otJg?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		  <br></br>
		<!--   6...Jimmy Kimmel: I Ate All Their Halloween Candy: -->
		  <center><iframe width="640" height="360" src="http://www.youtube.com/embed/_YQpbzQ6gzs?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		<br></br>
		 <!--  7... -->
		<center><iframe width="640" height="360" src="http://www.youtube.com/embed/BYb8e-aqkLk?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>
		<br></br>
		 <!--  9...College Humor GPS Prank -->
		  <center><iframe width="640" height="360" src="http://www.youtube.com/embed/EsGZ1ghytzM?feature=player_profilepage" frameborder="0" allowfullscreen></iframe></center>
		  <br></br>
		 <!--  10...Girl Eggs Mom -->
		  <center><iframe width="640" height="360" src="http://www.youtube.com/embed/FAf7FqE-AbM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe></center>

	</body>

	<div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>
  
<br></br>
