<head>
		<form ><input class= "gohome" type="button" value="Home Page" onClick="history.go(-2);return true;"></form>
		<br></br>
		<form ><input class= "goback" type="button" value="<-Go back" onClick="history.go(-1);return true;"></form>
	<title>Sad Quotes</title>
</head>

<div class="container" style= "margin-left: 20%; margin-right: 20%;">
	<center><h1 class="heading">Quotes</h1></center>


	<body background = "http://www.zingerbug.com/Backgrounds/background_images/gray_watermark_paisley_background_seamless_pattern.jpg">
	<center>
		<p><q>Nobody can hurt [you] without [your] permission</q>
		<br>-Gandhi</p></br>

		<p><q>Life is the art of drawing without an eraser.</q>
		<br>-John W. Gardner </p></br>

		<p><q>The years teach much which the days never know.</q>
		<br>-Ralph Waldo Emerson </p></br>


		<p><q>Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.</q>
		<br>-Buddha </p></br>


		<p><q>A life spent making mistakes is not only more honorable, but more useful than a life spent doing nothing.</q>
		<br>-George Bernard Shaw </p></br>


		<p><q>Never be bullied into silence. Never allow yourself to be made a victim. Accept no one's definition of your life; define yourself.</q>
		<br>-Harvey Fierstein </p></br>


		<p><q>A successful person is one who can lay a firm foundation with the bricks that others throw at them.</q>
		<br>-David Brinkley</p></br>

		<p><q>How far you go in life depends on your being tender with the young, compassionate with the aged, sympathetic with the striving and tolerant of the weak and strong. Because someday in your life you will have been all of these.</q>
		<br>-George Washington Carver </p></br>

		<p><q>Experience is simply the name we give our mistakes.</q>
		<br>-Oscar Wilde <p></br>


		<p><q>People grow through experience if they meet life honestly and courageously. This is how character is built.</q>
		<br>-Eleanor Roosevelt<p></br>
		
		<p><q>A mind that is stretched by a new experience can never go back to its old dimensions.</q>
		<br>-Oliver Wendell Holmes, Jr. </p></br>
	</body></center>

	<div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <center><div class="fb-like" data-href="http://facebook.com/nudarx3" data-width="450" data-show-faces="true" data-send="false"></div></center>

</div>

<br></br>
